@font-face {
  font-family: "Raleway";
  src: url("../vendor/raleway/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../vendor/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../vendor/raleway/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

html {
  /* Set base font size to 12px, rather than Skeleton's default of 10px. */
  font-size: 75%;

  /* Oops, at some point Chrome changed its behavior to alter the
   * text color to be high-contrast, which destroys the readability of
   * the whole site, so we'll disable the background for now. */
  /* background: url(/img/code.svg); */
}

/* For some reason Skeleton's buttons aren't defined in terms of rems, so
 * we'll scale their pixel values by a factor of 1.2. */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  height: 45.6px;
  padding: 0 36px;
  font-size: 13.2px;
  line-height: 45.6px;
  border-radius: 4.8px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #f6f6f6;
}

a.project {
  display: block;
  border: 1px solid #bbb;
  padding: 1rem;
  margin: 1rem 0;
  text-decoration: none;
  color: #555;
  text-align: center;
}

a.project:hover, a.project:focus {
  background-color: #f6f6f6;
  color: #333;
  border-color: #888;
  outline: 0;
}

a.project h5 {
  margin-top: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.featured-in {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.featured-in img {
  display: block;
  margin: 0 auto;
  height: 2.25rem;
  max-width: 100%;
  opacity: 0.66;
}

footer {
  font-size: 1.25rem;
  margin: 2.5rem 0;
  text-align: right;
  border-top: 1px dotted gray;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  padding: 0 1em;
  border-left: 1px dotted gray;
}

footer ul li:first-child {
  padding-left: 0;
  border-left: none;
}

footer ul li:last-child {
  padding-right: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
